cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card {
  height: 50vh;
}


button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}

