<cdk-virtual-scroll-viewport itemSize="500">
  <div class="flex-container">
    <div *cdkVirtualFor="let item of items">
      <!-- Card -->
      <!-- Card -->
      <div class="card card-cascade" style="width: 22rem; margin: 0 auto;">

        <!-- Card image -->
        <div class="view view-cascade overlay" [routerLink]="[item.id]">
          <img class="card-img-top" src="{{item.thumbnailUrl}}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <p class="card-title" style="color: #060644;"><strong>{{item.title | uppercase}}</strong></p>

        <!-- Edit -->
        <a type="button"
            style="color: black;"
            (click)="editItem(item.id)"
            class="btn-floating btn-small btn-fb float-left">
              <i class="far fa-edit fa-lg" title="Edit"></i>
        </a>
        <!-- Delete -->
        <a type="button"
            style="color: black;"
            (click)="deleteItem(item.id)"
            class="btn-floating btn-small btn-tw float-right">
              <i class="far fa-trash-alt fa-lg" title="Delete"></i>
        </a>

        </div>

      </div>
      <br />
      <br />
    </div>
  </div>
</cdk-virtual-scroll-viewport>
