<div class="col-lg-5">
  <div class="well bs-component">
    <form [formGroup]="addItemForm" (ngSubmit)="saveItem()" class="form-horizontal">
      <fieldset>
        <legend>Add New Item</legend>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-3 control-label">Album Id</label>
          <div class="col-lg-8">
            <input type="text"
                    class="form-control"
                    id="inputAlbumId"
                    placeholder="Album Id"
                    formControlName="albumId">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAuthor" class="col-lg-3 control-label">Id</label>
          <div class="col-lg-8">
            <input type="text"
                    class="form-control"
                    id="inputId"
                    placeholder="id"
                    formControlName="id">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Title</label>
          <div class="col-lg-8">
            <input type="text"
                    class="form-control"
                    id="inputTitle"
                    placeholder="title"
                    formControlName="title">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Url</label>
          <div class="col-lg-8">
            <input type="text"
                    class="form-control"
                    id="inputUrl"
                    placeholder="url"
                    formControlName="url">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Thumbnail Url</label>
          <div class="col-lg-8">
            <input type="text"
                    class="form-control"
                    id="inputThumbnailUrl"
                    placeholder="Thumbnail Url"
                    formControlName="thumbnailUrl">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-3">
            <button type="submit" class="btn btn-dark">Save</button>
            <button type="submit"
                    class="btn btn-dark"
                    style="margin-left: 3vw;"
                    [routerLink]="['/items']">
                      <i class="fas fa-chevron-left"></i>
                      Back
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
