<div class="container-fluid">
  <h1>Add New Item</h1>
  <br />
  <br />
  <mat-label>Image Title</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="required">
  </mat-form-field>
  <br />
  <mat-label>Image Url</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="required">
  </mat-form-field>
  <br />
  <mat-label>Image Thumbnail Url</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="required">
  </mat-form-field>
</div>
