<div class="col-lg-5">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit Item</legend>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-3 control-label">Album Id</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputAlbumId" placeholder="albumId" [(ngModel)]="selectedItem && selectedItem.albumId" name="albumId">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAuthor" class="col-lg-3 control-label">Id</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputId" placeholder="id" [(ngModel)]="selectedItem && selectedItem.id" name="id">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Title</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" [(ngModel)]="selectedItem && selectedItem.title" name="title">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Url</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputUrl" placeholder="url" [(ngModel)]="selectedItem && selectedItem.url" name="url">
          </div>
        </div>
        <div class="form-group">
          <label for="inputYear" class="col-lg-3 control-label">Thumbnail Url</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputThumbnailUrl" placeholder="thumbnailUrl" [(ngModel)]="selectedItem && selectedItem.thumbnailUrl" name="thumbnailUrl">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-3">
            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
