<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Details<br>
    <small>{{item.title | uppercase}}</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{item.url}}">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Links To Images</h3>
      <p><strong>Url:</strong>
        <br />
        {{item.url}}
      </p>
      <p><strong>Thumbnail Url:</strong>
        <br>
        {{item.thumbnailUrl}}
      </p>
      <h3 class="my-3">Image IDs</h3>
      <ul>
        <li><strong>Album ID:</strong> {{item.albumId}}</li>
        <li><strong>Image ID:</strong> {{item.id}}</li>
      </ul>
      <br />
      <button type="submit"
          class="btn btn-dark btn-lg"
          style="margin-left: 3vw;"
          [routerLink]="['/items']">
              <i class="fas fa-chevron-left"></i>
          Back
      </button>
      <button type="submit"
          class="btn btn-dark btn-lg"
          style="margin-left: 3vw;"
          (click)="deleteItem(item.id)"
          [routerLink]="['/items']">
              <i class="far fa-trash-alt fa-lg"></i>
          Delete
      </button>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
